

@{
    ViewBag.Title = "Index";
}

<style>
    .container {
        width: 100% !important;
    }
    .panel-footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #efefef;
        text-align: center;
    }
</style>


<div class="container" style="padding:10px;">
    <div class="panel panel-flat" style="padding-top:10%; padding-bottom:10%;">
        <div class="panel-body container">


            <center><h1>Welcome to</h1></center>
            <center><img src="~/Content/assets/img/accountsfinlogo.jpg" style="width: 40%;"></center>



        </div>
        <div class="panel-footer">
            &copy; 2018. - Anderson Group BPO Inc. | <a href="#">Anderson.Accounts</a> - Private and Confidential.
        </div>
    </div>

</div>
